@model IEnumerable<Model.DistrictsModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="pl-3">List of Districts</h2>
<div class="border-top border-dark my-1"></div>
<p class="pl-5 pt-2">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table pl-3">
    <tr>
        <th class="d-none">
            @Html.DisplayNameFor(model => model.DistrictId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th colspan="2">Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="d-none">
            @Html.DisplayFor(modelItem => item.DistrictId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DistrictId }, new { @class = "btn btn-success" })
       
            @Html.ActionLink("Delete", "Delete", new { id = item.DistrictId }, new { @class = "btn btn-danger" })
        </td>

    </tr>
}

</table>
<div class="border-top border-dark my-1"></div>